.navbar{background-color: lightseagreen !important;}
.navbar-brand{color:lightblue !important;}
.nav-link{color:lightblue !important;}
body{background-color:lightblue;}
h1{background-color: lightblue; color:lightcoral;}
img{
    width: 20%;
    height:auto;
  }
  footer{position:relative; margin-top:280px;text-align: center; color:lightcoral}